@media (max-width: 768px){
  .content {
	padding: 40% 0 0;
	}

	#slide {
		height: 400px;
	}

	.device, .scroll{
		display: none;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		text-transform: none;
		font-size: 23px;
	}

	.section-title.center {
		padding: 15px 0;
	}

	.lead {
		font-size: 14px;
	}

	.slide-text ul li span {
		margin-left: 0;
	}

	.stores {
		margin-left: 0;
	}

	#tf-home .overlay {
		height: 470px;
	}

	#tf-contact {
		padding: 20px 0;
	}
}

@media (max-width: 603px){
	#tf-menu.navbar-default {
		background-color: #FFF;
		}
	#tf-works li.pull-right, #tf-works li.pull-left {
	    margin-top: 10px;
	    float: none !important;
	    text-align: center;
	    display: block;
	}
	label{
	    float: none !important
	}
	.pull-left.fnav,
	.pull-right.fnav {
	    float: none !important;
	    text-align: center;
	}
	
	.hover-bg .hover-text {
	    padding: 12% 10%;
	}

}
@media (max-width: 360px){
	.hover-bg .hover-text {
	    padding: 22% 10%;
	}

	.store {
		width: 130px;
	}
}